


<h3>An easily memorised rule determines the winner:
   “Rock breaks scissors, scissors cuts paper, paper covers rock.”
    In other words, a player who chooses rock beats one who chooses
    scissors; scissors in turn beats paper; paper beats rock.
    This yields a winner whenever the two players choose differently</h3>
